<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/60c4a58605.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <div class="header__wrapper container">
        <span class="logo">Kursy Barmańskie</span>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="#" class="menu__link">Home</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">O nas</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Kursy</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Terminy kursów</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Kontakt</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <section class="showcase">
        <div class="showcase__main-content">
          <div class="showcase__text-content container">
            <h1 class="showcase__title">
              Polski Instytut Sztuki Barmańskiej
            </h1>
            <p class="showcase__subtitle">
              Wykonuj swoje obowiązki lepiej i zarabiaj więcej! Proponujemy
              profesjonalne szkolenia barmańskie.
            </p>
            <div class="showcase__call-action">
              <button class="btn btn--big">Dowiedz się więcej</button>
              <button class="btn btn--big btn--ghost">
                Umów się na kurs!
              </button>
            </div>
          </div>
        </div>
        <div class="showcase__decoration"></div>
      </section>
      <section class="section about container">
        <div class="about__overlay">
          <div class="about__image-container">
            <img src="/assets/about.jpg" class="about__image" alt="" />
          </div>
          <div class="about__text-container">
            <h2 class="title title--decor">O nas</h2>
            <p class="text about__text">
              Jesteśmy <span class="special">pierwszą</span> i do dziś
              <span class="special">jedyną</span> tego typu szkołą w Polsce.
              Funkcjonuje w oparciu o metody nauczania szkół amerykańskich. Z
              powodzeniem działamy już od blisko
              <span class="special">20&nbsp;lat!</span>
            </p>
            <button class="btn">Zobacz nasze zajęcia</button>
          </div>
        </div>
      </section>
      <section class="section container slider">
        <div class="slider__slides-container">
          <div class="slider__slide-container slider__slide-container--first">
            <div class="slider__arrow slider__arrow--left">
              <span class="fas fa-chevron-left"></span>
            </div>
            <img src="/assets/gallery2.jpg" class="slider__image" alt="" />
            <p class="text slider__slide-text">
              Workshop PISB <br />Opole 26-04-2018
            </p>
          </div>
          <div class="slider__slide-container">
            <img src="/assets/gallery3.jpg" class="slider__image" alt="" />
            <p class="text slider__slide-text">
              Kurs I-go Stopnia<br />
              Katowice 26-04-2018
            </p>
          </div>
          <div class="slider__slide-container">
            <img src="/assets/gallery6.jpg" class="slider__image" alt="" />
            <p class="text slider__slide-text">
              Kurs I-go Stopnia<br />
              Katowice 26-04-2018
            </p>
          </div>
          <div class="slider__slide-container slider__slide-container--last">
            <img src="/assets/gallery4.jpg" class="slider__image" alt="" />
            <p class="text slider__slide-text">
              Kurs I-go Stopnia<br />
              Katowice 26-04-2018
            </p>
            <div class="slider__arrow slider__arrow--right">
              <span class="fas fa-chevron-right"></span>
            </div>
          </div>
        </div>
      </section>
      <section class="section container courses">
        <h2 class="title">Nasze kursy</h2>
        <div class="courses__boxes-container">
          <div class="box">
            <span class="fas fa-glass-martini-alt box__icon"></span>
            <h3 class="subtitle">Kurs I-go stopnia</h3>
            <button class="btn box__btn">Dowiedz się więcej</button>
          </div>
          <div class="box">
            <span class="fas fa-glass-martini box__icon"></span>
            <h3 class="subtitle">Kurs II-go stopnia</h3>
            <button class="btn box__btn">Dowiedz się więcej</button>
          </div>
          <div class="box">
            <span class="fas fa-cocktail box__icon"></span>
            <h3 class="subtitle">Kurs dla Instruktorów Barmaństwa</h3>
            <button class="btn box__btn">Dowiedz się więcej</button>
          </div>
          <div class="box">
            <span class="fas fa-glass-cheers box__icon"></span>
            <h3 class="subtitle">Kurs Dla Imprezowiczów</h3>
            <button class="btn box__btn">Dowiedz się więcej</button>
          </div>
          <div class="box">
            <span class="fas fa-coffee box__icon"></span>
            <h3 class="subtitle">Kurs Baristyczny</h3>
            <button class="btn box__btn">Dowiedz się więcej</button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
