.hamburger {
  width: 30px;
  height: 4px;
  background-color: $text-side-color;
  position: relative;
  border: none;
  display: none;
  &::before,
  &::after {
    position: absolute;
    top: -8px;
    left: 0;
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: $text-side-color;
  }
  &::after {
    top: 8px;
  }
  @media (max-width: 980px) {
    display: block;
    cursor: pointer;
  }
}
