.menu {
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    margin-left: 3.5rem;
  }
  &__link {
    @include text-font;
    text-decoration: none;
    color: $text-side-color;
    @media (max-width: 1240px) {
      color: $text-main-color;
    }
  }
  @media (max-width: 980px) {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
}
