.menu {
  &__list {
    display: flex;
    list-style: none;
    @media (max-width: 980px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__item {
    margin-left: 3.5rem;
    @media (max-width: 980px) {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 16px 0;
      font-size: 1.45rem;
    }
    @media (max-width: 420px) {
      text-align: left;
    }
  }
  &__link {
    @include text-font;
    text-decoration: none;
    color: $text-side-color;
    @media (max-width: 980px) {
      color: $text-main-color;
    }
  }
  &--active {
    display: block !important;
    margin-top: 1rem;
  }
  @media (max-width: 980px) {
    display: none;
    flex-basis: 100%;
    border-top: 1px solid #eee;
  }
}

html {
  scroll-behavior: smooth;
}
