.title {
  @include title-font;
  margin-bottom: 6rem;
  &--decor {
    position: relative;
    margin-left: 30px;
    margin-bottom: 1rem;
    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 100%;
      background-color: $decor-color;
      position: absolute;
      left: -30px;
    }
  }
}
.subtitle {
  @include text-font;
  font-size: 1.3rem;
}
.text {
  @include text-font;
  line-height: 1.4;
}
.special {
  color: $decor-color;
}
