.contact {
  position: relative;
  &__data-container {
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(#000, 0.2);
    display: flex;
    position: relative;
    z-index: 3;
  }
  &__title {
    @include title-font;
    font-size: 1.3rem;
    flex-basis: 100%;
    margin-bottom: 2rem;
  }
  &__form {
    flex-basis: 70%;
    padding: 15px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__input-container {
    padding-left: 30px;
    flex-basis: 100%;
    &--half {
      flex-basis: 45%;
    }
  }
  &__label {
    @include text-font;
    font-size: 0.9rem;
    color: #6d6d6d;
  }
  &__input {
    @include text-font;
    border: none;
    border-bottom: 2px solid #c9c9c9;
    margin: 0.5rem 0 1.5rem 0;
    padding: 8px 5px;
    font-size: 1rem;
    width: 100%;
  }
  &__message {
    resize: none;
    min-height: 120px;
    line-height: 1.5;
  }
  &__btn {
    margin-left: auto;
  }
  &__details {
    flex-basis: 30%;
    background-color: $main-color;
    padding: 15px 25px;
    box-shadow: -10px 0 10px -10px rgba(#000, 0.2);
  }
  &__details-list {
    list-style: none;
  }
  &__details-item {
    @include text-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
  }
  &__icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $decor-color;
  }
  &__image-container {
    position: absolute;
    top: 60%;
    max-height: 660px;
    overflow: hidden;
    background: linear-gradient(
      rgba($decor-color, 0.5),
      rgba($decor-color, 0.5)
    );
    img {
      opacity: 0.3;
      max-width: 100%;
    }
  }
}
