.contact {
  position: relative;
  &__data-container {
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(#000, 0.2);
    display: flex;
    position: relative;
    z-index: 3;
    @media (max-width: 980px) {
      flex-direction: column;
    }
  }
  &__title {
    @include title-font;
    flex-basis: 100%;
    margin-bottom: 2rem;
    font-size: 1.55rem;
    @media (max-width: 1240px) {
      text-align: center;
    }
    &--side {
      @media (max-width: 980px) {
        color: $main-color;
      }
      @media (max-width: 710px) {
        margin-bottom: 0;
      }
    }
  }
  &__form {
    flex-basis: 70%;
    padding: 25px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1240px) {
      flex-basis: 80%;
    }
    @media (max-width: 980px) {
      order: 1;
    }
    @media (max-width: 710px) {
      padding: 25px;
    }
  }
  &__input-container {
    padding-left: 30px;
    flex-basis: 100%;
    margin: 0.8rem 0 1.5rem 0;
    @media (max-width: 710px) {
      padding: 0;
    }
    &--half {
      flex-basis: 45%;
      @media (max-width: 980px) {
        flex-basis: 100%;
      }
    }
  }
  &__label {
    @include text-font;
    font-size: 0.9rem;
    color: #6d6d6d;
    &--required {
      color: rgb(187, 72, 72);
    }
    &--accept {
      color: rgb(45, 122, 21);
    }
  }
  &__input {
    @include text-font;
    border: none;
    border-bottom: 2px solid #c9c9c9;
    margin: 0.5rem 0;
    padding: 8px 5px;
    font-size: 1rem;
    width: 100%;
    position: relative;
  }
  &__message {
    resize: none;
    min-height: 120px;
    line-height: 1.5;
  }
  &__btn {
    margin-left: auto;
    @media (max-width: 710px) {
      margin: 0 auto;
    }
  }
  &__wrong {
    border-bottom: 2px solid rgb(187, 72, 72);
    background: url("./assets/times-solid.svg") no-repeat;
    background-size: 12px;
    background-position: 99% 50%;
  }
  &__correct {
    border-bottom: 2px solid rgb(45, 122, 21);
    background: url("./assets/check-solid.svg") no-repeat;
    background-size: 12px;
    background-position: 99% 50%;
  }
  &__details {
    flex-basis: 30%;
    background-color: $main-color;
    padding: 25px;
    box-shadow: -10px 0 10px -10px rgba(#000, 0.2);
    @media (max-width: 1240px) {
      flex-basis: 20%;
    }
    @media (max-width: 980px) {
      order: 0;
      background-color: $decor-color;
    }
  }
  &__details-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 980px) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media (max-width: 710px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__details-item {
    @include text-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    @media (max-width: 980px) {
      color: $main-color;
      margin-top: 0.5rem;
    }
    @media (max-width: 710px) {
      flex-direction: row;
      margin-top: 1.5rem;
    }
  }
  &__icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $decor-color;
    @media (max-width: 1240px) {
      font-size: 1.7rem;
    }
    @media (max-width: 980px) {
      color: $main-color;
    }
    @media (max-width: 710px) {
      margin: 0 0.7rem 0 0;
      font-size: 1.4rem;
    }
  }
  &__tel {
    text-decoration: none;
    color: inherit;
  }
  &__image-container {
    max-height: 600px;
    overflow: hidden;
    background: linear-gradient(
      rgba($decor-color, 0.6),
      rgba($decor-color, 0.6)
    );
    margin-top: -16rem;
    z-index: -1;
    img {
      opacity: 0.3;
      max-width: 100%;
    }
    @media (max-width: 1240px) {
      display: none;
    }
  }
}
