.showcase {
  display: flex;
  height: 90vh;
  min-height: 550px;
  justify-content: stretch;
  @media (max-width: 1240px) {
    background: linear-gradient(
        rgba($decor-color, 0.65) 0%,
        rgba($decor-color, 0.6) 65%,
        rgba($decor-color, 0.45) 100%
      ),
      url("./assets/gallery1-min-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__main-content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1240px) {
      flex-basis: 100%;
      color: $text-side-color;
    }
  }
  &__text-content {
    max-width: 650px;
    @media (max-width: 1240px) {
      text-align: center;
    }
  }
  &__decoration {
    flex-basis: 50%;
    background: linear-gradient(
        rgba($decor-color, 0.6),
        rgba($decor-color, 0.6)
      ),
      url("./assets/gallery1-min-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 1240px) {
      display: none;
    }
  }
  &__title {
    @include title-font;
    font-size: 3.2rem;
    margin: 0 0 1rem 0;
    @media (max-width: 780px) {
      font-size: 2rem;
    }
  }
  &__subtitle {
    @include text-font;
    font-size: 1.4rem;
    margin: 2.5rem 0;
    line-height: 1.4;
    @media (max-width: 1240px) {
      margin-top: 0;
    }
  }
  &__call-action {
    @media (max-width: 710px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
