.showcase {
  display: flex;
  height: 90vh;
  justify-content: stretch;
  &__main-content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__text-content {
    max-width: 650px;
  }
  &__decoration {
    flex-basis: 50%;
    background: linear-gradient(
        rgba($decor-color, 0.4),
        rgba($decor-color, 0.4)
      ),
      url("/assets/gallery1-min-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__title {
    @include title-font;
    font-size: 3.2rem;
    margin: 0 0 1rem 0;
  }
  &__subtitle {
    @include text-font;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin: 0 0 2.5rem 0;
  }
}
