.terms {
  text-align: center;
  &__content-container {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  &__list {
    list-style: none;
    flex-basis: 100%;
    display: flex;
    @media (max-width: 710px) {
      flex-direction: column;
    }
  }
  &__item {
    @include text-font;
    margin-right: 0.5rem;
    flex-basis: 20%;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 710px) {
      margin: 0 0 0.5rem 0;
    }
  }
  &__btn {
    border: none;
    background-color: #fff;
    border: 1px solid rgb(216, 216, 216);
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 65px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:last-child {
      border-bottom: 1px solid rgb(216, 216, 216);
    }
    &--active {
      background-color: $decor-color;
      color: $text-side-color;
    }
    @media (max-width: 710px) {
      border-radius: 0;
    }
  }
  &__arrow {
    display: none;
    @media (max-width: 710px) {
      display: block;
      margin-left: auto;
    }
  }
  &__table-container {
    flex-basis: 100%;
    margin: -1px 0 0 1px;
    overflow: hidden;
    @media (max-width: 710px) {
      display: none;
    }
  }
  &__table {
    width: 100%;
    height: 450px;
    box-shadow: 0 0 15px 0 rgba(#000, 0.2);
    border-spacing: 0;
    border: none;
    border-collapse: collapse;
  }
  &__table-head-cell {
    background-color: $decor-color;
    color: $text-side-color;
    padding: 25px 20px;
    text-align: center;
  }
  &__table-body-cell {
    @include text-font;
    text-align: center;
    padding: 10px 15px;
  }
  &__table-body-row {
    background-color: #fff;
    border-bottom: 1px solid rgb(194, 194, 194);
    overflow: hidden;
  }
}
